.archive {
    margin: 1em auto;
    padding: 30px 50px;
    background-color: #fff;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 2px rgb(255, 255, 255);

    h2{
        font-size: 3rem
    }

    .post-archive {
        list-style: none;
        padding: 0;

        .post-item {
            margin: 5px 0;

            .post-date {
                display: inline-block;
                margin-right: 10px;
                color: #6e6e6e;
            }

            .post-title {
                color: #2d8cdc;
                font-size: 2rem
                text-decoration: none;
            }
        }
    }
}