footer{
    display: flex
    .con{
        position: relative;
        margin: 1rem 0.5rem 0 0.5rem;
        font-size: 14px;
        line-height: 1.5;
        float: inherit;
        text-align: left;
            .con-p{
                line-height: 1.5;
                margin: 0.5rem 0;
                }
        }
    }
p{
    display: block
}