.post {
    margin: 1em auto;
    padding: 30px 50px;
    background-color: ffffff;
    border: 1px solid ffffff;
    box-shadow: 0 0 2px ffffff;
}

.posts  {
    .post:first-child {
        margin-top: 0;
    }

    .post-title {
        font-size: 1.5em;

        .post-title-link {
            color: #000000;
            text-decoration: none;
        }
    }

    .post-content {
        a {
            color: #000000;
            text-decoration: none;
        }
    }

    .post-meta {
        color: #a3a3ab;
    }
}