.page-nav{
    text-align: center

        span {
            color: #ffffff
            background-color:#000000;
            margin 0 0.3rem
            border-width: 0.8rem;
            width: 10px;
            padding: 12px;            
        }
        a:link {
            color: #ffffff
            text-decoration: none
            margin 0 0.3rem
            border-width: 0.8rem;
            width: 10px;
            padding: 12px;
        }
        a:hover {
            color: #ffffff
            background-color:#000000;
            text-decoration: none
            margin 0 0.3rem
            border-width: 0.8rem;
            width: 10px;
            padding: 12px;
        }

    }

