<footer>
    <section class="con">
        <p class="con-p"> &copy; <%- date(Date.now(), 'YYYY') %><span class="brand"><%= config.author%></span></p>
        <p class="con-p">感谢陪伴：<span id="uptime">1天 </span></p>
    </section>
    <section class="con">
        <p class="con-p">Powered by <a href="https://hexo.io/" target="_blank" rel="nofollow">hexo</a></p>
        <p class="con-p">Theme is <a href="/" target="_blank">suzi</a> by <a href="<%= config.url %>" target="_blank"><%= config.author%></a></p>
    </section> 
</footer>